In [0]:
data = [("James","","Smith","36636","M",6000),
        ("Michael","Rose","","40288","M",7000),
         ("Robert","","Williams","42114","",40000),
         ("Maria","Annie","Jones","39192","F",50000),
         ("Jenn","Marry","Brown","","F",0)
        ]

columns = ["First_name","middle_name","Last_name","dob","Gender","Salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [0]:
df.write.format("csv").save("/FileStore/tables/new_employee.csv")

In [0]:
display(df)

First_name,middle_name,Last_name,dob,Gender,Salary
James,,Smith,36636,M,6000
Michael,Rose,,40288,M,7000
Robert,,Williams,42114,,40000
Maria,Annie,Jones,39192,F,50000
Jenn,Marry,Brown,,F,0

In [0]:
df1 = spark.read.format("csv").load("/FileStore/tables/employee1-5.csv")

In [0]:
display(df1)

_c0,_c1,_c2,_c3,_c4,_c5
user,name,salary,location,date,attendance
1,mani,10000,US,01/05/2022,y
2,raju,20000,India,02/05/2022,y
3,megha,10000,India,03/05/2022,n
4,rahul,15000,India,04/05/2022,n
5,kishor,20000,India,01/05/2022,y
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null

In [0]:
df1.show()

+----+------+------+--------+----------+----------+
| _c0|   _c1|   _c2|     _c3|       _c4|       _c5|
+----+------+------+--------+----------+----------+
|user|  name|salary|location|      date|attendance|
|   1|  mani| 10000|      US|01/05/2022|         y|
|   2|  raju| 20000|   India|02/05/2022|         y|
|   3| megha| 10000|   India|03/05/2022|         n|
|   4| rahul| 15000|   India|04/05/2022|         n|
|   5|kishor| 20000|   India|01/05/2022|         y|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
+----+------+------+--------+----------+----------+

In [0]:
df2 = spark.read.format("csv").option("header","true").load("/FileStore/tables/employee1-5.csv")

In [0]:
display(df2)

user,name,salary,location,date,attendance
1,mani,10000,US,01/05/2022,y
2,raju,20000,India,02/05/2022,y
3,megha,10000,India,03/05/2022,n
4,rahul,15000,India,04/05/2022,n
5,kishor,20000,India,01/05/2022,y
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null

In [0]:
df3 = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/employee1-5.csv")

In [0]:
df3.show()

+----+------+------+--------+----------+----------+
|user|  name|salary|location|      date|attendance|
+----+------+------+--------+----------+----------+
|   1|  mani| 10000|      US|01/05/2022|         y|
|   2|  raju| 20000|   India|02/05/2022|         y|
|   3| megha| 10000|   India|03/05/2022|         n|
|   4| rahul| 15000|   India|04/05/2022|         n|
|   5|kishor| 20000|   India|01/05/2022|         y|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
+----+------+------+--------+----------+----------+

In [0]:
display(df3)

user,name,salary,location,date,attendance
1,mani,10000,US,01/05/2022,y
2,raju,20000,India,02/05/2022,y
3,megha,10000,India,03/05/2022,n
4,rahul,15000,India,04/05/2022,n
5,kishor,20000,India,01/05/2022,y
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null

In [0]:
df3.printSchema()

root
 |-- user: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- date: string (nullable = true)
 |-- attendance: string (nullable = true)

In [0]:
df2.printSchema()

root
 |-- user: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- location: string (nullable = true)
 |-- date: string (nullable = true)
 |-- attendance: string (nullable = true)

In [0]:
df3.write.format("csv").save("/FileStore/tables/emp")

In [0]:
df3.show()

+----+------+------+--------+----------+----------+
|user|  name|salary|location|      date|attendance|
+----+------+------+--------+----------+----------+
|   1|  mani| 10000|      US|01/05/2022|         y|
|   2|  raju| 20000|   India|02/05/2022|         y|
|   3| megha| 10000|   India|03/05/2022|         n|
|   4| rahul| 15000|   India|04/05/2022|         n|
|   5|kishor| 20000|   India|01/05/2022|         y|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
+----+------+------+--------+----------+----------+

In [0]:
display(df3)

user,name,salary,location,date,attendance
1,mani,10000,US,01/05/2022,y
2,raju,20000,India,02/05/2022,y
3,megha,10000,India,03/05/2022,n
4,rahul,15000,India,04/05/2022,n
5,kishor,20000,India,01/05/2022,y
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null
null,null,null,null,null,null

In [0]:
df3.collect()

Out[24]: [Row(user=1, name='mani', salary=10000, location='US', date='01/05/2022', attendance='y'),
 Row(user=2, name='raju', salary=20000, location='India', date='02/05/2022', attendance='y'),
 Row(user=3, name='megha', salary=10000, location='India', date='03/05/2022', attendance='n'),
 Row(user=4, name='rahul', salary=15000, location='India', date='04/05/2022', attendance='n'),
 Row(user=5, name='kishor', salary=20000, location='India', date='01/05/2022', attendance='y'),
 Row(user=None, name=None, salary=None, location=None, date=None, attendance=None),
 Row(user=None, name=None, salary=None, location=None, date=None, attendance=None),
 Row(user=None, name=None, salary=None, location=None, date=None, attendance=None),
 Row(user=None, name=None, salary=None, location=None, date=None, attendance=None),
 Row(user=None, name=None, salary=None, location=None, date=None, attendance=None)]

In [0]:
df3.take(4)

Out[26]: [Row(user=1, name='mani', salary=10000, location='US', date='01/05/2022', attendance='y'),
 Row(user=2, name='raju', salary=20000, location='India', date='02/05/2022', attendance='y'),
 Row(user=3, name='megha', salary=10000, location='India', date='03/05/2022', attendance='n'),
 Row(user=4, name='rahul', salary=15000, location='India', date='04/05/2022', attendance='n')]

In [0]:
df3.printSchema()

root
 |-- user: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- date: string (nullable = true)
 |-- attendance: string (nullable = true)

In [0]:
df3.withColumn("Bonus",df3.salary*0.2).show()

+----+------+------+--------+----------+----------+------+
|user|  name|salary|location|      date|attendance| Bonus|
+----+------+------+--------+----------+----------+------+
|   1|  mani| 10000|      US|01/05/2022|         y|2000.0|
|   2|  raju| 20000|   India|02/05/2022|         y|4000.0|
|   3| megha| 10000|   India|03/05/2022|         n|2000.0|
|   4| rahul| 15000|   India|04/05/2022|         n|3000.0|
|   5|kishor| 20000|   India|01/05/2022|         y|4000.0|
|null|  null|  null|    null|      null|      null|  null|
|null|  null|  null|    null|      null|      null|  null|
|null|  null|  null|    null|      null|      null|  null|
|null|  null|  null|    null|      null|      null|  null|
|null|  null|  null|    null|      null|      null|  null|
+----+------+------+--------+----------+----------+------+

In [0]:
df3.filter(df3.name=='raju').show()

+----+----+------+--------+----------+----------+
|user|name|salary|location|      date|attendance|
+----+----+------+--------+----------+----------+
|   2|raju| 20000|   India|02/05/2022|         y|
+----+----+------+--------+----------+----------+

In [0]:
df3.filter(df3.salary>10000).show()

+----+------+------+--------+----------+----------+
|user|  name|salary|location|      date|attendance|
+----+------+------+--------+----------+----------+
|   2|  raju| 20000|   India|02/05/2022|         y|
|   4| rahul| 15000|   India|04/05/2022|         n|
|   5|kishor| 20000|   India|01/05/2022|         y|
+----+------+------+--------+----------+----------+

In [0]:
 df3.sort(df3.salary).show()

+----+------+------+--------+----------+----------+
|user|  name|salary|location|      date|attendance|
+----+------+------+--------+----------+----------+
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|   1|  mani| 10000|      US|01/05/2022|         y|
|   3| megha| 10000|   India|03/05/2022|         n|
|   4| rahul| 15000|   India|04/05/2022|         n|
|   2|  raju| 20000|   India|02/05/2022|         y|
|   5|kishor| 20000|   India|01/05/2022|         y|
+----+------+------+--------+----------+----------+

In [0]:
 df3.sort(df3.salary.desc()).show()

+----+------+------+--------+----------+----------+
|user|  name|salary|location|      date|attendance|
+----+------+------+--------+----------+----------+
|   2|  raju| 20000|   India|02/05/2022|         y|
|   5|kishor| 20000|   India|01/05/2022|         y|
|   4| rahul| 15000|   India|04/05/2022|         n|
|   1|  mani| 10000|      US|01/05/2022|         y|
|   3| megha| 10000|   India|03/05/2022|         n|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
|null|  null|  null|    null|      null|      null|
+----+------+------+--------+----------+----------+

In [0]:
df.show()

+----------+-----------+---------+-----+------+------+
|First_name|middle_name|Last_name|  dob|Gender|Salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M|  6000|
|   Michael|       Rose|         |40288|     M|  7000|
|    Robert|           | Williams|42114|      | 40000|
|     Maria|      Annie|    Jones|39192|     F| 50000|
|      Jenn|      Marry|    Brown|     |     F|     0|
+----------+-----------+---------+-----+------+------+

#Aggregated Function

In [0]:
df.select("first_name","Gender","Salary").show()

+----------+------+------+
|first_name|Gender|Salary|
+----------+------+------+
|     James|     M|  6000|
|   Michael|     M|  7000|
|    Robert|      | 40000|
|     Maria|     F| 50000|
|      Jenn|     F|     0|
+----------+------+------+

sum of salary based on gender

In [0]:
df.groupBy('Gender').sum('salary').show()

+------+-----------+
|Gender|sum(salary)|
+------+-----------+
|     M|      13000|
|      |      40000|
|     F|      50000|
+------+-----------+

In [0]:
df.groupBy('Gender').count().show()

+------+-----+
|Gender|count|
+------+-----+
|     M|    2|
|      |    1|
|     F|    2|
+------+-----+

In [0]:
df.groupBy("Gender").max("salary").show()

+------+-----------+
|Gender|max(salary)|
+------+-----------+
|     M|       7000|
|      |      40000|
|     F|      50000|
+------+-----------+

In [0]:
c

+------+-----------+
|Gender|min(Salary)|
+------+-----------+
|     M|       6000|
|      |      40000|
|     F|          0|
+------+-----------+

In [0]:
df.groupBy("Gender").avg("salary").show()

+------+-----------+
|Gender|avg(salary)|
+------+-----------+
|     M|     6500.0|
|      |    40000.0|
|     F|    25000.0|
+------+-----------+

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000),\
       (2,"Rose",1,"2010","20","M",4000),\
       (3,"Williams",1,"2010","10","M",1000),\
       (4,"Jones",2,"2005","40","F",2000),\
       (5,"Brown",2,"2010","40","",-1),\
       (6,"Brown",2,"2010","50","",-1) \
           ]

empColumns = ["emp_id","name","superior_emp_id","year_joined",\
              "emp_dept_id","gender","salary"]
empDF = spark.createDataFrame(data=emp, schema=empColumns)
empDF.printSchema()
empDF.show()

dept = [("Finance",10),\
    ("Marketing",20), \
    ("Sales",30), \
    ("IT", 40) \
        ]

deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema=deptColumns)
deptDF.printSchema()
deptDF.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         40|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
deptDF.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
empDF.show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         40|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,"inner").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     4|   Jones|              2|       2005|         40|     F|  2000|       IT|     40|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,"left").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         40|     F|  2000|       IT|     40|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,"right").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     4|   Jones|              2|       2005|         40|     F|  2000|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+