In [0]:
df1 = spark.createDataFrame([(2,'laptop','2020-12-01'),(37,'Mobile','2020-12-02'),(77,'Tv','2020-12-03')],['CustomerID','OrderName','OrderDate'])
display(df1)

CustomerID,OrderName,OrderDate
2,laptop,2020-12-01
37,Mobile,2020-12-02
77,Tv,2020-12-03

In [0]:
df2 = spark.createDataFrame([(1,'Krishna','Maria','Germany'),(2,'rama','ana','Mexico'),(3,'sai','Antonio','Mexico')],
['CustomerId','CustomerName','ContactName','Country'])
            
df2.show(truncate=False)

+----------+------------+-----------+-------+
|CustomerId|CustomerName|ContactName|Country|
+----------+------------+-----------+-------+
|1         |Krishna     |Maria      |Germany|
|2         |rama        |ana        |Mexico |
|3         |sai         |Antonio    |Mexico |
+----------+------------+-----------+-------+

In [0]:
# inner join

df_inner = df1.join(df2,df1["CustomerID"]==df2["CustomerID"],"inner")
df_inner.show(truncate=False)

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|2         |laptop   |2020-12-01|2         |rama        |ana        |Mexico |
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
#Alternate method

df_inner = df1.join(df2,df1.CustomerID==df2.CustomerId,"inner")
df_inner.show(truncate=False)

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|2         |laptop   |2020-12-01|2         |rama        |ana        |Mexico |
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
# 2nd Alternative
from pyspark.sql.functions import col

df_inner = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.Customerid"),"inner")
df_inner.show()

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName| OrderDate|CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|         2|   laptop|2020-12-01|         2|        rama|        ana| Mexico|
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
#to select particular column

from pyspark.sql.functions import col

df_inner = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.Customerid"),"inner").select(col("a.*"),col("b.CustomerName"),col("b.Country"))
df_inner.show(truncate=False)

+----------+---------+----------+------------+-------+
|CustomerID|OrderName|OrderDate |CustomerName|Country|
+----------+---------+----------+------------+-------+
|2         |laptop   |2020-12-01|rama        |Mexico |
+----------+---------+----------+------------+-------+

In [0]:
#left join, left outer join

df_left_outer = df1.join(df2,df1.CustomerID==df2.CustomerId,"left")
df_left_outer.show(truncate=False)

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|2         |laptop   |2020-12-01|2         |rama        |ana        |Mexico |
|37        |Mobile   |2020-12-02|null      |null        |null       |null   |
|77        |Tv       |2020-12-03|null      |null        |null       |null   |
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
from pyspark.sql.functions import col

df_left_outer = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.CustomerID"),"left").select(col("a.*"),col("b.CustomerName"),col("b.Country"))

df_left_outer.show(truncate=False)

+----------+---------+----------+------------+-------+
|CustomerID|OrderName|OrderDate |CustomerName|Country|
+----------+---------+----------+------------+-------+
|2         |laptop   |2020-12-01|rama        |Mexico |
|37        |Mobile   |2020-12-02|null        |null   |
|77        |Tv       |2020-12-03|null        |null   |
+----------+---------+----------+------------+-------+

In [0]:
df_left_outer = df1.join(df2,df1.CustomerID==df2.CustomerId,"left_outer")

df_left_outer.show(truncate=False)

In [0]:
df_left_outer_join = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.CustomerID"),"left_outer")
df_left_outer_join.show(truncate=False)

In [0]:
df_inner = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.CustomerID"),"inner").select(col("a.*"),col("b.CustomerName"),col("b.ContactName"),col("b.Country"))

df_inner.show(truncate=False)

In [0]:
df_left_outer = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.CustomerID"),"left_outer").select(col("a.*").col("b.CustomerName"),col("b.ContactName"),col("b.Country"))

In [0]:
#right, # right outer

df_right_outer = df1.join(df2,df1.CustomerID==df2.CustomerId,"right")
df_right_outer.show(truncate=False)

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|null      |null     |null      |1         |Krishna     |Maria      |Germany|
|2         |laptop   |2020-12-01|2         |rama        |ana        |Mexico |
|null      |null     |null      |3         |sai         |Antonio    |Mexico |
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
from pyspark.sql.functions import col
df_right_outer = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.CustomerId"),"right").select(col("b.*"),col("a.OrderName"),col("a.OrderDate"))
df_right_outer.show(truncate=False)

+----------+------------+-----------+-------+---------+----------+
|CustomerId|CustomerName|ContactName|Country|OrderName|OrderDate |
+----------+------------+-----------+-------+---------+----------+
|1         |Krishna     |Maria      |Germany|null     |null      |
|2         |rama        |ana        |Mexico |laptop   |2020-12-01|
|3         |sai         |Antonio    |Mexico |null     |null      |
+----------+------------+-----------+-------+---------+----------+

In [0]:
#full_outer, fullouter, outer 

# It give all data from both table
df_outer = df1.join(df2,df1.CustomerID==df2.CustomerId,"outer")
df_outer.show(truncate=False)

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|null      |null     |null      |1         |Krishna     |Maria      |Germany|
|2         |laptop   |2020-12-01|2         |rama        |ana        |Mexico |
|null      |null     |null      |3         |sai         |Antonio    |Mexico |
|37        |Mobile   |2020-12-02|null      |null        |null       |null   |
|77        |Tv       |2020-12-03|null      |null        |null       |null   |
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
from pyspark.sql.functions import col

df_outer = df1.alias("a").join(df2.alias("b"),col("a.CustomerID")==col("b.CustomerId"),"outer")
df_outer.show(truncate=False)

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|null      |null     |null      |1         |Krishna     |Maria      |Germany|
|2         |laptop   |2020-12-01|2         |rama        |ana        |Mexico |
|null      |null     |null      |3         |sai         |Antonio    |Mexico |
|37        |Mobile   |2020-12-02|null      |null        |null       |null   |
|77        |Tv       |2020-12-03|null      |null        |null       |null   |
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
#semi, leftsemi, left_semi
#common records between both tables and get columns from only left table#
df_left_semi = df1.join(df2,df1["CustomerID"]==df2["CustomerId"],"leftsemi")
df_left_semi.show(truncate=False)

+----------+---------+----------+
|CustomerID|OrderName|OrderDate |
+----------+---------+----------+
|2         |laptop   |2020-12-01|
+----------+---------+----------+

In [0]:
#leftanti, anti, left_anti
#it give unmatch record from left table

df_left_anti = df1.join(df2,df1.CustomerID==df2.CustomerId,"leftanti")

df_left_anti.show(truncate=False)

+----------+---------+----------+
|CustomerID|OrderName|OrderDate |
+----------+---------+----------+
|37        |Mobile   |2020-12-02|
|77        |Tv       |2020-12-03|
+----------+---------+----------+

In [0]:
# cartesian product from both tables

df_cross = df1.crossJoin(df2)
df_cross.show(truncate=False)

+----------+---------+----------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+----------+------------+-----------+-------+
|2         |laptop   |2020-12-01|1         |Krishna     |Maria      |Germany|
|2         |laptop   |2020-12-01|2         |rama        |ana        |Mexico |
|2         |laptop   |2020-12-01|3         |sai         |Antonio    |Mexico |
|37        |Mobile   |2020-12-02|1         |Krishna     |Maria      |Germany|
|37        |Mobile   |2020-12-02|2         |rama        |ana        |Mexico |
|37        |Mobile   |2020-12-02|3         |sai         |Antonio    |Mexico |
|77        |Tv       |2020-12-03|1         |Krishna     |Maria      |Germany|
|77        |Tv       |2020-12-03|2         |rama        |ana        |Mexico |
|77        |Tv       |2020-12-03|3         |sai         |Antonio    |Mexico |
+----------+---------+----------+----------+------------+-----------+-------+

In [0]:
df_new1 = spark.createDataFrame([(2,'laptop','2020-12-01','Mexico'),(1,'Mobile','2020-12-02','Germany'),(1,'Tv','2020-12-03','Mexico')],['CustomerID','OrderName','OrderDate','Country'])


df_new2 = spark.createDataFrame([(1,'Krishna','Maria','Germany'),(2,'rama','ana','Mexico'),(3,'sai','Antonio','Mexico')],
['CustomerId','CustomerName','ContactName','Country'])

print(df_new1.show())
print(df_new2.show())

+----------+---------+----------+-------+
|CustomerID|OrderName| OrderDate|Country|
+----------+---------+----------+-------+
|         2|   laptop|2020-12-01| Mexico|
|         1|   Mobile|2020-12-02|Germany|
|         1|       Tv|2020-12-03| Mexico|
+----------+---------+----------+-------+

None
+----------+------------+-----------+-------+
|CustomerId|CustomerName|ContactName|Country|
+----------+------------+-----------+-------+
|         1|     Krishna|      Maria|Germany|
|         2|        rama|        ana| Mexico|
|         3|         sai|    Antonio| Mexico|
+----------+------------+-----------+-------+

None

In [0]:
df_advane_join = df_new1.join(df_new2,df_new1.CustomerID==df_new2.CustomerId,"inner")
df_advane_join.show(truncate=False)

+----------+---------+----------+-------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |Country|CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+-------+----------+------------+-----------+-------+
|1         |Mobile   |2020-12-02|Germany|1         |Krishna     |Maria      |Germany|
|1         |Tv       |2020-12-03|Mexico |1         |Krishna     |Maria      |Germany|
|2         |laptop   |2020-12-01|Mexico |2         |rama        |ana        |Mexico |
+----------+---------+----------+-------+----------+------------+-----------+-------+

In [0]:
df_advance_join = df_new1.join(df_new2,((df_new1.CustomerID==df_new2.CustomerId) & (df_new1.Country==df_new2.Country)),"inner")

df_advane_join.show(truncate=False)

+----------+---------+----------+-------+----------+------------+-----------+-------+
|CustomerID|OrderName|OrderDate |Country|CustomerId|CustomerName|ContactName|Country|
+----------+---------+----------+-------+----------+------------+-----------+-------+
|1         |Mobile   |2020-12-02|Germany|1         |Krishna     |Maria      |Germany|
|1         |Tv       |2020-12-03|Mexico |1         |Krishna     |Maria      |Germany|
|2         |laptop   |2020-12-01|Mexico |2         |rama        |ana        |Mexico |
+----------+---------+----------+-------+----------+------------+-----------+-------+