In [0]:
df = spark.createDataFrame([(1,'Master','cloudpandith',978),(1,'visa','cloudpandith',978),(2,'Master','rama',770),
 (2,'Visa','rama',1240),(3,'Master','Krishna',1140),(3,'visa','Krishna',1140),(6,'Master','srinu',1240)],                    
['credit_id','credit_type','credit_name','credit_score'])
display(df)

credit_id,credit_type,credit_name,credit_score
1,Master,cloudpandith,978
1,visa,cloudpandith,978
2,Master,rama,770
2,Visa,rama,1240
3,Master,Krishna,1140
3,visa,Krishna,1140
6,Master,srinu,1240

In [0]:
#To add new column in data we use withColumn
from pyspark.sql.functions import current_date
df_date = df.withColumn('record_updated',current_date())
df_date.show()

+---------+-----------+------------+------------+--------------+
|credit_id|credit_type| credit_name|credit_score|record_updated|
+---------+-----------+------------+------------+--------------+
|        1|     Master|cloudpandith|         978|    2024-04-29|
|        1|       visa|cloudpandith|         978|    2024-04-29|
|        2|     Master|        rama|         770|    2024-04-29|
|        2|       Visa|        rama|        1240|    2024-04-29|
|        3|     Master|     Krishna|        1140|    2024-04-29|
|        3|       visa|     Krishna|        1140|    2024-04-29|
|        6|     Master|       srinu|        1240|    2024-04-29|
+---------+-----------+------------+------------+--------------+

In [0]:
from pyspark.sql.functions import lit
df_date = df_date.withColumn('record updated by',lit('Abhishek'))
df_date.show()

+---------+-----------+------------+------------+--------------+-----------------+
|credit_id|credit_type| credit_name|credit_score|record_updated|record updated by|
+---------+-----------+------------+------------+--------------+-----------------+
|        1|     Master|cloudpandith|         978|    2024-04-29|         Abhishek|
|        1|       visa|cloudpandith|         978|    2024-04-29|         Abhishek|
|        2|     Master|        rama|         770|    2024-04-29|         Abhishek|
|        2|       Visa|        rama|        1240|    2024-04-29|         Abhishek|
|        3|     Master|     Krishna|        1140|    2024-04-29|         Abhishek|
|        3|       visa|     Krishna|        1140|    2024-04-29|         Abhishek|
|        6|     Master|       srinu|        1240|    2024-04-29|         Abhishek|
+---------+-----------+------------+------------+--------------+-----------------+

In [0]:
from pyspark.sql.functions import current_timestamp
df_ts = df_date.withColumn('printed_timestamp',current_timestamp())
display(df_ts)

credit_id,credit_type,credit_name,credit_score,record_updated,record updated by,printed_timestamp
1,Master,cloudpandith,978,2024-04-29,Abhishek,2024-04-29T07:07:31.925+0000
1,visa,cloudpandith,978,2024-04-29,Abhishek,2024-04-29T07:07:31.925+0000
2,Master,rama,770,2024-04-29,Abhishek,2024-04-29T07:07:31.925+0000
2,Visa,rama,1240,2024-04-29,Abhishek,2024-04-29T07:07:31.925+0000
3,Master,Krishna,1140,2024-04-29,Abhishek,2024-04-29T07:07:31.925+0000
3,visa,Krishna,1140,2024-04-29,Abhishek,2024-04-29T07:07:31.925+0000
6,Master,srinu,1240,2024-04-29,Abhishek,2024-04-29T07:07:31.925+0000

In [0]:
#renaming column

df_ts1 = df_ts.withColumnRenamed("printed_timestamp","record_inserted")
df_ts1.show(truncate=False)

+---------+-----------+------------+------------+--------------+-----------------+-----------------------+
|credit_id|credit_type|credit_name |credit_score|record_updated|record updated by|record_inserted        |
+---------+-----------+------------+------------+--------------+-----------------+-----------------------+
|1        |Master     |cloudpandith|978         |2024-04-29    |Abhishek         |2024-04-29 07:09:55.439|
|1        |visa       |cloudpandith|978         |2024-04-29    |Abhishek         |2024-04-29 07:09:55.439|
|2        |Master     |rama        |770         |2024-04-29    |Abhishek         |2024-04-29 07:09:55.439|
|2        |Visa       |rama        |1240        |2024-04-29    |Abhishek         |2024-04-29 07:09:55.439|
|3        |Master     |Krishna     |1140        |2024-04-29    |Abhishek         |2024-04-29 07:09:55.439|
|3        |visa       |Krishna     |1140        |2024-04-29    |Abhishek         |2024-04-29 07:09:55.439|
|6        |Master     |srinu       |1240        |2024-04-29    |Abhishek         |2024-04-29 07:09:55.439|
+---------+-----------+------------+------------+--------------+-----------------+-----------------------+

In [0]:
# drop column

df_drop = df_ts.drop("credit_id")
df_drop.show(truncate = False)

+-----------+------------+------------+--------------+-----------------+-----------------------+
|credit_type|credit_name |credit_score|record_updated|record updated by|printed_timestamp      |
+-----------+------------+------------+--------------+-----------------+-----------------------+
|Master     |cloudpandith|978         |2024-04-29    |Abhishek         |2024-04-29 07:16:35.434|
|visa       |cloudpandith|978         |2024-04-29    |Abhishek         |2024-04-29 07:16:35.434|
|Master     |rama        |770         |2024-04-29    |Abhishek         |2024-04-29 07:16:35.434|
|Visa       |rama        |1240        |2024-04-29    |Abhishek         |2024-04-29 07:16:35.434|
|Master     |Krishna     |1140        |2024-04-29    |Abhishek         |2024-04-29 07:16:35.434|
|visa       |Krishna     |1140        |2024-04-29    |Abhishek         |2024-04-29 07:16:35.434|
|Master     |srinu       |1240        |2024-04-29    |Abhishek         |2024-04-29 07:16:35.434|
+-----------+------------+------------+--------------+-----------------+-----------------------+

In [0]:
# drop multiple column

df_drop1 = df_drop.drop("record_updated","printed_timestamp","record updated by")
df_drop1.show(truncate=False)

+-----------+------------+------------+
|credit_type|credit_name |credit_score|
+-----------+------------+------------+
|Master     |cloudpandith|978         |
|visa       |cloudpandith|978         |
|Master     |rama        |770         |
|Visa       |rama        |1240        |
|Master     |Krishna     |1140        |
|visa       |Krishna     |1140        |
|Master     |srinu       |1240        |
+-----------+------------+------------+

In [0]:
#concenate column

from pyspark.sql.functions import concat,lit

df_concat = df_drop1.withColumn("description",concat(df_drop1.credit_type,lit("-"),df_drop1.credit_name))
display(df_concat)

credit_type,credit_name,credit_score,description
Master,cloudpandith,978,Master-cloudpandith
visa,cloudpandith,978,visa-cloudpandith
Master,rama,770,Master-rama
Visa,rama,1240,Visa-rama
Master,Krishna,1140,Master-Krishna
visa,Krishna,1140,visa-Krishna
Master,srinu,1240,Master-srinu

In [0]:
#to giving space we can use onw time with concat_ws
from pyspark.sql.functions import concat_ws,col
df_concat_ws_1 = df_drop1.withColumn("description",concat_ws(" ",col("credit_type"),lit("card is with"),col("credit_name")))
display(df_concat_ws_1)

credit_type,credit_name,credit_score,description
Master,cloudpandith,978,Master card is with cloudpandith
visa,cloudpandith,978,visa card is with cloudpandith
Master,rama,770,Master card is with rama
Visa,rama,1240,Visa card is with rama
Master,Krishna,1140,Master card is with Krishna
visa,Krishna,1140,visa card is with Krishna
Master,srinu,1240,Master card is with srinu

In [0]:
from pyspark.sql.functions import col,concat,concat_ws
df_concat_ws = df_drop1\
    .withColumn("concat",concat(col("credit_type"),lit(" "),col("credit_name"),col("credit_name")))\
        .withColumn("concat_ws",concat_ws(" ",col("credit_type"),col("credit_name"),col("credit_score")))
display(df_concat_ws)

credit_type,credit_name,credit_score,concat,concat_ws
Master,cloudpandith,978,Master cloudpandithcloudpandith,Master cloudpandith 978
visa,cloudpandith,978,visa cloudpandithcloudpandith,visa cloudpandith 978
Master,rama,770,Master ramarama,Master rama 770
Visa,rama,1240,Visa ramarama,Visa rama 1240
Master,Krishna,1140,Master KrishnaKrishna,Master Krishna 1140
visa,Krishna,1140,visa KrishnaKrishna,visa Krishna 1140
Master,srinu,1240,Master srinusrinu,Master srinu 1240

In [0]:
from pyspark.sql.functions import col,when,lit

df_when = df_concat_ws.withColumn("Discount",when(col("credit_type")=="Master",lit("5%")).when(col("credit_type")=="Visa",lit("6%")).otherwise("7%"))

display(df_when)

credit_type,credit_name,credit_score,concat,concat_ws,Discount
Master,cloudpandith,978,Master cloudpandithcloudpandith,Master cloudpandith 978,5%
visa,cloudpandith,978,visa cloudpandithcloudpandith,visa cloudpandith 978,7%
Master,rama,770,Master ramarama,Master rama 770,5%
Visa,rama,1240,Visa ramarama,Visa rama 1240,6%
Master,Krishna,1140,Master KrishnaKrishna,Master Krishna 1140,5%
visa,Krishna,1140,visa KrishnaKrishna,visa Krishna 1140,7%
Master,srinu,1240,Master srinusrinu,Master srinu 1240,5%

In [0]:
df_concat.show(truncate=False)

+-----------+------------+------------+-------------------+
|credit_type|credit_name |credit_score|description        |
+-----------+------------+------------+-------------------+
|Master     |cloudpandith|978         |Master-cloudpandith|
|visa       |cloudpandith|978         |visa-cloudpandith  |
|Master     |rama        |770         |Master-rama        |
|Visa       |rama        |1240        |Visa-rama          |
|Master     |Krishna     |1140        |Master-Krishna     |
|visa       |Krishna     |1140        |visa-Krishna       |
|Master     |srinu       |1240        |Master-srinu       |
+-----------+------------+------------+-------------------+

In [0]:
#window function using row function

from pyspark.sql.window import Window
from pyspark.sql.functions import desc,row_number

w = Window.partitionBy("credit_type").orderBy(desc("credit_score"))
df_rownumber = df.withColumn("row_number",row_number().over(w))
display(df_rownumber)

credit_id,credit_type,credit_name,credit_score,row_number
6,Master,srinu,1240,1
3,Master,Krishna,1140,2
1,Master,cloudpandith,978,3
2,Master,rama,770,4
2,Visa,rama,1240,1
3,visa,Krishna,1140,1
1,visa,cloudpandith,978,2

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc,row_number

w = Window.partitionBy("credit_type").orderBy(desc("credit_score"))
df_rownumber = df.select("*",row_number().over(w).alias("row_number"))
display(df_rownumber)

credit_id,credit_type,credit_name,credit_score,row_number
6,Master,srinu,1240,1
3,Master,Krishna,1140,2
1,Master,cloudpandith,978,3
2,Master,rama,770,4
2,Visa,rama,1240,1
3,visa,Krishna,1140,1
1,visa,cloudpandith,978,2

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc,dense_rank

w = Window.partitionBy("credit_type").orderBy(desc("credit_score"))
df_rownumber = df.select("*",dense_rank().over(w).alias("row_number"))
display(df_rownumber)

credit_id,credit_type,credit_name,credit_score,row_number
6,Master,srinu,1240,1
3,Master,Krishna,1140,2
1,Master,cloudpandith,978,3
2,Master,rama,770,4
2,Visa,rama,1240,1
3,visa,Krishna,1140,1
1,visa,cloudpandith,978,2